*{
    margin : 0px ; 
    padding : 0px ; 
    color : hsl(0,0%,100%);
    
}

body {
    font-family: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    display : flex ; 
    align-items : center ; 
    justify-content: center ;
    width : 100% ; 
    height : 100vh ; 
    flex-direction: column ; 
    background-color: hsl(0,0%,8%);
}
h1{
    font-size : 1.5vw;
    font-weight: 700;
    margin-bottom : 1% ; 
}

h3{
    font-weight: 400;
    font-size : 1vw ;
}

p{
    font-size : 14px ; 
}

.b{
    font-weight: 600;
    background-color: hsl(0,0%,20%);
    padding: 3% ;
    border : 2px solid black ; 
    border-radius : 5px ;
    margin-top : 10px ;    
}
#container {
    border-radius : 10px ; 
    background-color: hsl(0,0%,12%);
    width : 400px ; 
    padding : 3vw ; 
    text-align : center ; 
}

#heading {
    display : flex ; 
    flex-wrap : wrap ; 
    flex-direction : column ; 
    align-items: center ;
    justify-content : center ;
    margin : 4% ;   

}

#buttongroup{
    display: flex ;
    flex-direction: column ; ;
}

button:hover{
    background-color : hsl(75,94%,57%);
    color : hsl(0,0%,8%);
}

#image {
    width : 30%;
    border-radius : 50% ; 
    margin-bottom : 2% ; 
}

@media screen and (max-width : 360px ){
    #container {
        width : 80vw ; 
        padding : 5vw ;
    }

    h1{
        font-size : 100% ; 
    }
    h3{
        font-size : 50% ;
    }
}

